<form [formGroup]="formParameter">

    <div class="grid">
        <div class="col-12">
            <p-dialog [(visible)]="openModal" [style]="{width: '50vw'}" header={{tittleForm}} [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                    
                    <p class="text-center mb-6"><p-badge [value]="'Los campos marcados con * son obligatorios'"></p-badge></p>
                    
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <p-dropdown inputId="folder" [(ngModel)]="parameter.folder" formControlName="folder" [options]="folders"  optionLabel="name" optionValue="name" [filter]="true" filterBy="name" styleClass="p-inputtext-sm mt-1" [showClear]="true" placeholder="Folder">
                                <ng-template pTemplate="selectedFolder">
                                    <div class="flex align-items-center gap-2" *ngIf="parameter.folder">
                                        <div>{{ parameter.folder }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-folder pTemplate="folder">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ folder.name }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="folder" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Folder</label>
                        </span>
                    </div>
                    
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <input type="number" pInputText id="ranking" [(ngModel)]="parameter.ranking" formControlName="ranking" class="p-inputtext-sm capitalize mt-1" />
                            <label htmlFor="ranking" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Ranking</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formParameter.controls['ranking'].touched && formParameter.get('ranking')?.hasError('required')" >El campo Nombre es obligatorio</small>
                        <small class="p-error block mt-2" *ngIf=" formParameter.get('ranking')?.hasError('minlength')">El campo Nombre debe tener 5 caracteres como mínimo</small>
                    </div>
                   
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <input type="text" pInputText id="value" [(ngModel)]="parameter.value" formControlName="value" class="p-inputtext-sm mt-1" />
                            <label htmlFor="value" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Valor</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formParameter.controls['value'].touched && formParameter.get('value')?.hasError('required')" >El campo Valor es obligatorio</small>
                    </div>
                    
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <p-dropdown inputId="icon" [options]="iconsPrime" [(ngModel)]="parameter.icon" formControlName="icon" optionLabel="name" optionValue="name" [filter]="true" filterBy="name" styleClass="p-inputtext-sm mt-1" [showClear]="true" placeholder="Icono">
                                <ng-template pTemplate="selectedFolder">
                                    <div class="flex align-items-center gap-2" *ngIf="parameter.icon">
                                        <div>{{ parameter.icon }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-icon pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div><i [class]="'pi '+ icon.name"></i> {{ icon.name }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label for="icon" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Icono</label>
                        </span>
                    </div>
                    
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <input type="color" pInputText id="color" [(ngModel)]="parameter.color" formControlName="color" class="p-inputtext-sm mt-1" [style]="'background-color: '+parameter.color+';'" />
                            <label htmlFor="color" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Color</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formParameter.controls['color'].touched && formParameter.get('color')?.hasError('required')" >El campo Color es obligatorio</small>
                    </div>
                    
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <input type="text" pInputText id="magnitude" [(ngModel)]="parameter.magnitude" formControlName="magnitude" class="p-inputtext-sm mt-1" />
                            <label htmlFor="magnitude" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Magnitud</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formParameter.controls['magnitude'].touched && formParameter.get('magnitude')?.hasError('required')" >El campo Magnitud es obligatorio</small>
                    </div>
                    
                    <div class="form-group field mt-6">
                        <span class="p-float-label">
                            <input type="text" pInputText id="kind" [(ngModel)]="parameter.kind" formControlName="kind" class="p-inputtext-sm mt-1" />
                            <label htmlFor="kind" class="text-lg font-bold text-800"><span class="text-red-500">*</span> Tipo</label>
                        </span>
                        <small class="p-error block mt-2" *ngIf="formParameter.controls['kind'].touched && formParameter.get('kind')?.hasError('required')" >El campo Tipo es obligatorio</small>
                    </div>

                </ng-template>
                <ng-template pTemplate="footer">
                    <input type="hidden" pInputText id="id" [(ngModel)]="parameter.id" formControlName="id"/>
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary p-button-rounded mr-2 p-button-sm sombra-black" (click)="hideModal()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-rounded mr-2 sombra-black p-button-sm" (click)="saveParameter()"
                        [loading]="isLoading"
                        [disabled]="formParameter.invalid">
                    </button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</form>